<div [ngClass]="[item.direction === 'row'? 'fx-row': 'fx-col']" *ngFor="let item of cells; let key = index"
    class="cell">
    <div class="cell-prop" *ngIf="item.propName">
        {{ item.propName }}
    </div>
    <div></div>
    <ng-container *ngIf="item.children">
        <app-cell [cells]="item.children" [ngClass]="[item.direction === 'row'? 'fx-row': 'fx-col']"></app-cell>
    </ng-container>
</div>


<!-- <ul class="cell">
    <li *ngFor="let item of cells; let key = index">
        <div class="cell-prop" *ngIf="item.propName">
            {{ item.propName }}
        </div>
        <ng-container *ngIf="item.children">
            <app-cell [cells]="item.children"></app-cell>
        </ng-container>
    </li>
</ul> -->


<!-- <div class="fx-full">
       <ng-container *ngIf="cell.cells && cell.cells.length">
                <div *ngIf="cell.direction=='row'" style="border:1px solid red"
                            class="fx-full fx-row fx-sf">
                        <app-cell *ngFor="let c of cell.cells"  >
                {{ data[c.propName]}}
                            </app-cell>
                    </div>
                <div *ngIf="cell.direction=='col'"  style="border:1px solid red"
                            class="fx-full fx-col fx-sf">
                        <app-cell *ngFor="let c of cell.cells"  >
                            </app-cell>
                    </div>
            </ng-container>
        <ng-container *ngIf="!cell.cells || cell.cells.length">
                <div>
                        {{data[cell.propName]}}
                    </div>
            </ng-container> 
</div>
-->