.dynamic-box {
  border: 1px solid #e8e8e8;
}

.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.item-prop {
  display: flex;
  min-width: 120px;
  padding: 10px;
  align-items: center;
  word-break: break-all;
}

.border {
  align-items: stretch;
  border: 1px solid #ebedf0;
}
