.item {
  display: flex;

  .item-prop {
    display: flex;
    min-width: 100px;
    padding: 10px;
  }

  .item-child {
    border-left: 1px solid #ebedf0;
    // width: fill-available;
    width: stretch;

    .item:not(:last-child) {
      border-bottom: 1px solid #ebedf0;
    }
  }
}

.border-bottom {
  border-bottom: 1px solid #ebedf0;
}

.border {
  border: 1px solid #ebedf0;
  align-items: center;
}

.border:nth-child(2n),
.border:first-child {
  border-bottom: 0;
}

.border:last-child {
  border-bottom: 1px solid #ebedf0;
}
