.item {
  display: flex;

  .item-prop {
    display: flex;
    min-width: 120px;
    padding: 10px;
    align-items: center;
    word-break: break-all;
    // background-color: #e6f7ff;
  }

  .item-child {
    border-left: 1px solid #ebedf0;
    width: stretch;

    .item:not(:last-child) {
      border-bottom: 1px solid #ebedf0;
    }
    // [app-dynamic-table] {
    //   height: 100%;
    // }
  }
}

.border {
  align-items: stretch;
  border: 1px solid #ebedf0;
}

.border:nth-child(2n),
.border:first-child {
  border-bottom: 0;
}

.border:last-child {
  border-bottom: 1px solid #ebedf0;
}

// .reset {
//   height: 100%;
//   .item {
//     height: inherit;
//   }
// }

